###This config for Voron Trident_300 BIGTREETECH Manta M8P and TMC2209 drivers.

##################
### MCU ###
##################

#[mcu]
#serial:  /dev/serial/by-id/usb-Klipper_stm32h723xx_2C003D001251313236343430-if00

[mcu]
canbus_uuid:  9417ccd40776
canbus_interface: can0

[mcu EBBCan]
canbus_uuid:  88c4bae58244
canbus_interface: can0

#[include config/EBBCan.cfg]

##################
### PRINTER ######
##################

[printer]
kinematics: corexy
max_velocity: 800  
max_accel: 8000   			#Max 4000
max_z_velocity: 30 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 8

#################################################################################################################



#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: EBBCan:gpio24
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75
homing_retract_dist: 5
#homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
run_current: 0.80
stealthchop_threshold: 0
interpolate: false
sense_resistor: 0.110

[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ^PF3
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75
homing_retract_dist: 5
#homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
run_current: 0.80
stealthchop_threshold: 0
interpolate: false
sense_resistor: 0.110
 
#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 350
position_min: -10
homing_speed: 20
second_homing_speed: 3
homing_retract_dist: 5

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

[stepper_z1]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

[stepper_z3]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11 
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200

[tmc2209 stepper_z3]
uart_pin: PG10
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999



###################################################################################################
################
### Extruder ###
################
[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 32
gear_ratio: 50:10
full_steps_per_rotation: 200
rotation_distance: 21.968851 ## rotation_distance= (previous_rotation_distance) * (actual_extreuder_distance/100) ##
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
#sensor_type: PT1000
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True
min_temp: 0
max_temp: 320
max_power: 1.0
min_extrude_temp: 145
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
pressure_advance: 0.03 #0.015
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 200.0
max_extrude_cross_section: 999.9

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0



[gcode_arcs]
resolution: 0.1

[force_move]
enable_force_move: True

[respond]

[exclude_object]

[firmware_retraction]
retract_length: 0.4

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[safe_z_home]
home_xy_position:150,150
speed:300
z_hop:20

[idle_timeout]
timeout: 7200
gcode:
    RESPOND MSG="Idle timeout reached"
    {% if "z" in printer.toolhead.homed_axes %}
      G90
      #example to move the head somewhere
      G1 X180 Y300 Z50 F9000

      PARK
      _TIP_SHAPING
      G1 E-10 F2100  
    {% endif %}

    TURN_OFF_HEATERS
    M107
    M400
    BED_MESH_CLEAR
    {% if disable_motors_in_end_print %}
        M84
    {% endif %}	
    LIGHT_ON S={light_intensity_end_print}

#####################################################################
### Fan Control ###
#####################################################################

[fan]
pin: EBBCan:gpio13
kick_start_time: 0.5

[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[controller_fan controller_fan]
#pin: PE6
#kick_start_time: 0.5
#heater: heater_bed
#fan_speed: 0.6



#[temperature_fan chamber]
#pin: PC12
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#cycle_time:0.01
#off_below:0.1
#sensor_type: Generic 3950
#sensor_pin: PA1
#min_temp: 0
#max_temp: 70
#target_temp: 35.0
#control: watermark
#gcode_id: C

#############################################################################
##################
### MAIN FILES ###
##################
[include config/variables.cfg]
[include timelapse.cfg]
[include mainsail.cfg]

###########################
### HARDWARE COMPONENTS ###
###########################
#[include config/hardware/adxl.cfg]
[include config/hardware/fans.cfg]
[include config/hardware/lights.cfg]
#[include config/hardware/temperature_sensors.cfg]
#[include config/hardware/Power_220v.cfg]
[include config/hardware/status_leds.cfg]
#[include config/hardware/test_led.cfg]


###########################
### SOFTWARE COMPONENTS ###
###########################
#[include config/software/test_probe_accuracy.cfg]
[include config/software/bed_mesh.cfg]
#[include config/software/input_shaper.cfg]
[include config/software/qgl.cfg]                                                           
[include config/software/KAMP_Settings.cfg]
#[include config/software/exclude.cfg]



#####################
### MACROS FOLDER ###
#####################
[include macros/print_base/*.cfg]
[include macros/helpers/*.cfg]
[include macros/calibration/*.cfg]
[include macros/miscs/*.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]
[include K-ShakeTune/*.cfg]
############################################################################

#####################################################################
#   LED control
#####################################################################
#[led Case_Light]
#white_pin: PE3
#initial_WHITE: 0.2

#[gcode_macro Case_Light_ON]
#gcode:
#    SET_LED LED=Case_Light WHITE=1

#[gcode_macro Case_Light_OFF]
#gcode:
#    SET_LED LED=Case_Light WHITE=0


#[neopixel hotend_rgb]
#pin: EBBCan:gpio16

#####################################################################
#   Temperature sensors
#####################################################################

[temperature_sensor CB1]
sensor_type: temperature_host

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28


##############################################################################################################
##################
### Bed Heater ###
##################
[heater_bed]
##	SSR Pin - HE1
heater_pin: PA1 
sensor_type: Generic 3950
sensor_pin: PB1 # TB 
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.01612
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

############################################################################################################
#####################
### Probe and Tap ###
#####################
#[probe]
#pin: PF2
#x_offset: 0
#y_offset: 0
#z_offset: -0.611
#speed: 5
#samples: 2 
#samples_result: median
#sample_retract_dist: 2.0
#samples_tolerance: 0.005
#samples_tolerance_retries: 10

[probe]
#pin: EBBCan:gpio21
pin: ^EBBCan: gpio22
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


#[settling_probe]
#settling_sample: True

#########################################################################################################################
[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.818
#*# pid_ki = 2.242
#*# pid_kd = 322.907
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.959
#*# pid_ki = 1.501
#*# pid_kd = 87.813
#*#
#*# [probe]
#*# z_offset = -0.830
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.045000, -0.030000, -0.015000, -0.000000, 0.015000, 0.002500, -0.015000, -0.010000, -0.022500
#*# 	  -0.030000, -0.025000, -0.020000, 0.005000, 0.010000, -0.005000, -0.012500, -0.017500, -0.025000
#*# 	  -0.050000, -0.037500, -0.032500, -0.002500, -0.005000, -0.000000, -0.005000, -0.025000, -0.035000
#*# 	  -0.042500, -0.027500, -0.022500, -0.012500, 0.007500, -0.000000, -0.017500, -0.020000, -0.032500
#*# 	  -0.037500, -0.020000, -0.005000, 0.002500, 0.010000, 0.015000, 0.002500, -0.007500, -0.022500
#*# 	  -0.035000, -0.015000, -0.010000, -0.000000, -0.000000, -0.002500, -0.002500, -0.015000, -0.030000
#*# 	  -0.037500, -0.017500, -0.002500, -0.000000, 0.005000, 0.005000, -0.000000, -0.015000, -0.025000
#*# 	  -0.017500, -0.017500, -0.007500, 0.005000, 0.005000, 0.012500, -0.000000, -0.007500, -0.020000
#*# 	  -0.030000, -0.030000, -0.005000, 0.005000, -0.000000, 0.005000, 0.010000, -0.000000, -0.012500
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.139999999999986
#*# max_x = 268.46
#*# min_y = 31.28
#*# max_y = 269.36
