[mcu EBB]
canbus_uuid:  88c4bae58244
canbus_interface: can0

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBB:gpio28

###### CAN ######
[extruder]
step_pin: EBB:gpio18
dir_pin: !EBB:gpio19
enable_pin: !EBB:gpio17
rotation_distance: 23.03  #Bondtech 5mm Drive Gears
gear_ratio: 50:10                #for standard 10t motor
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 110
heater_pin: EBB:gpio7
#sensor_type: PT1000
sensor_type: MAX31865
sensor_pin: EBB:gpio9
spi_software_sclk_pin: EBB:gpio10
spi_software_mosi_pin: EBB:gpio8
spi_software_miso_pin: EBB:gpio11
#sensor_pin: EBB:gpio27
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True


[tmc2209 extruder]
uart_pin: EBB:gpio20
run_current: 0.650
stealthchop_threshold: 999999


[fan]
pin: EBB:gpio13

[heater_fan hotend_fan]
pin: EBB:gpio14
heater: extruder
heater_temp: 50.0

[fan_generic 4W_FAN0]
pin: EBB:gpio15
tachometer_pin: EBB:gpio12
#tachometer_ppr: 1

[neopixel hotend_rgb]
pin: EBB:gpio16
